---
import Layout from '@/layouts/Layout.astro';
import '@fontsource-variable/red-hat-mono';

import HeroSection from '@/components/index/HeroSection.astro';

import EngeifudeHorizontal from "@assets/logo/qianjunakasumi/EngeifudeHorizontal.astro";
---

<Layout
        title="@qianjunakasumi 千橘雫霞／Official"
        description="qianjunakasumi's official website home page. Hi there! 今天没准也在摸鱼~"
>
    <main>
        <HeroSection>
            <div class="pt-10 px-4 sm:pt-24 sm:px-24">

                <h1 class="text-3xl sm:text-4xl font-black">
                    <span lang="ja" class="ml-0.5 text-xs qianju-sans">せ ん じ ゅ　　　　な か す み</span><br>
                    <span lang="zh" class="qianju-sans">千橘　雫霞</span><br>
                    <span lang="en" class="qianju">qianjunakasumi</span>
                </h1>

                <p class="mt-8 qwq">
                    Welcome! :) I'm qianjunakasumi,<br>
                    Currently pursuing in software engineering,<br>
                    working on natural language processing in cyber security.<br>
                    Interested in cutting-edge technologies e.g: cloud native, deep learning, and big data<br>
                    たまに絵を描くのですが、今は投稿していません 将来的可能性あります<br>
                    キツネ ケモミミが好き<br>
                    <br>
                    <a class="hover:underline" href="https://blog.qianjunakasumi.moe">Visit qianjunakasumi's Blog</a><br>
                    Get <a href="/resume/" class="px-1 bg-amber-100">@qianjunakasumi resume</a>
                    <br>
                    <br>
                </p>
                <p class="mt-6">
                    <a href="https://github.com/qianjunakasumi">GitHub</a>
                    ・
                    <a href="https://huggingface.co/qianjunakasumi">Hugging Face</a>
                    ・
                    <a href="https://x.com/qianjunakasumi">X</a>
                    ・
                    <a href="https://www.pixiv.net/users/26817554">Pixiv</a>
                    ・
                    <a href="https://status.qianjunakasumi.moe">Status Page</a>
                    ・
                    <a href="https://keys.openpgp.org/search?q=1440EBB6B9B8852853EF671C20B9311476C7D128">PGP keys</a>
                    <br>
                    mailto: qianjunakasumi@&#123;outlook, gmail&#125;.com
                </p>

            </div>

            <footer class="mt-10 pl-4 sm:pl-24 text-base qianju flex gap-4 text-sm">
                <div class="w-20">
                    <EngeifudeHorizontal/>
                </div>
                <span class="qianju">© QIANJUNAKASUMI.MOE. {new Date().getFullYear()}</span>
                <a href="https://icp.gov.moe/?keyword=20232034" target="_blank">萌ICP备20232034号</a><br>
            </footer>
        </HeroSection>
    </main>

</Layout>

<style>
    .qianju-sans {
        font-family: sans-serif;
    }

    .qianju {
        font-family: 'Red Hat Mono Variable', monospace;
    }

    .qwq {
        font-family: serif;
        font-size: 1.06rem;
    }

    footer {
        color: #232129;
    }
</style>
