---
import Layout from '@/layouts/Layout.astro';
import '@fontsource-variable/red-hat-mono';

import HeroSection from '@/components/index/HeroSection.astro';

import EngeifudeHorizontal from "@assets/logo/qianjunakasumi/EngeifudeHorizontal.astro";
---

<Layout
        title="@qianjunakasumi 千橘雫霞／Official"
        description="qianjunakasumi's official website home page. Hi there! 今天没准也在摸鱼~"
>
    <main>
        <HeroSection>
            <div class="pt-10 px-4 sm:pt-24 sm:px-24">

                <h1 class="text-3xl sm:text-4xl font-black">
                    <span lang="ja" class="ml-0.5 text-xs qianju-sans">せ ん き つ　　　　 な か す み</span><br>
                    <span lang="zh" class="qianju-sans">千橘　雫霞</span><br>
                    <span lang="en" class="qianju">qianjunakasumi</span>
                </h1>

                <p class="mt-8 qwq">
                    Welcome to qianjunakasumi's homepage!<br>
                    キツネ ケモミミが好き<br>
                    <br>
                    <div class="flex">
                        <a class="hover:underline" href="https://blog.qianjunakasumi.moe">Visit qianjunakasumi's Blog,</a>
                        <a class="ml-4 hover:underline" href="https://memos.qianjunakasumi.moe">Visit Memos</a>
                    </div>
                    📍 Shanghai, CHINA</br>
                    <br>
                </p>
                <p class="mt-4">
                    Follow me on:
                    <a href="https://github.com/qianjunakasumi">GitHub</a>
                    ・
                    <a href="https://x.com/qianjunakasumi">X (Twitter)</a>
                    ・
                    <a href="https://open.spotify.com/user/3173dbfpg4iwulp5arsudfnza65i">Spotify</a>
                    ・
                    <a href="https://www.pixiv.net/users/26817554">Pixiv</a>
                    <br>
                    mailto: qianjunakasumi@&#123;outlook, gmail&#125;.com
                </p>
                <br>
                <p>
                    <a href="https://stats.uptimerobot.com/8VtkljQ4us">Status Page</a>
                    |
                    <a href="https://keys.openpgp.org/search?q=1440EBB6B9B8852853EF671C20B9311476C7D128">PGP keys</a>
                </p>
                
                
            </div>

            <footer class="mt-10 pl-4 sm:pl-24 text-base qianju sm:flex items-center gap-4 text-sm">
                <div class="flex mb-4 sm:mb-0 w-20 mr-8">
                    <EngeifudeHorizontal/>
                </div>
                <span class="qianju">©{new Date().getFullYear()} QIANJUNAKASUMI</span>
                <a href="https://icp.gov.moe/?keyword=20232034" target="_blank">萌ICP备20232034号</a>
                
            </footer>
        </HeroSection>
    </main>

</Layout>

<style>
    .qianju-sans {
        font-family: sans-serif;
    }

    .qianju {
        font-family: 'Red Hat Mono Variable', monospace;
    }

    .qwq {
        font-family: serif;
        font-size: 1.06rem;
    }

    footer {
        color: #232129;
    }
</style>
