---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Resume ï¼ @qianjunakasumi">
    <h1 class="text-4xl">Resume</h1>
    <h2 class="text-2xl">Competition History</h2>
    <ul>
        <li>Lanqiao Competition 2023 Web Application Development National 3rd Prize</li>
        <li>Huawei ICT Competition 2022-2023 Practice-Cloud Track Undergraduate ** Province 3rd Prize</li>
        <li>National University Student AI Knowledge Competition 2022 (Baidu PaddlePaddle) 1st Prize</li>
    </ul>
</Layout>
