---
interface Props {
    title: string;
}

const {title} = Astro.props;
---

<section class="flex mb-14">
    <aside class="w-1/5">
        <h2 class="text-xl font-black">{title}</h2>
        <div class="mt-1 w-9 h-1 title-underline"></div>
    </aside>
    <div class="pt-3 w-full">
        <slot/>
        <div class="mt-6 w-full h-0.5 section-underline"></div>
    </div>
</section>

<style>
    .title-underline {
        background: #C9D9F1;
    }

    .section-underline {
        background: #B6C1D1;
    }
</style>