---
import Favicon from "./Favicon.astro";
import PrintQianju from "./PrintQianju.astro";

interface Props {
	title: string;
	description: string;
	isTittleSuffix: boolean;
}

const { title, description, isTittleSuffix } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={ description + ' ・ @qianjunakasumi 千橘雫霞 せんじゅなかすみ／Official' } />
		<meta name="viewport" content="width=device-width" />
		<Favicon />
		<link rel="sitemap" href="/sitemap-index.xml" />
        <title>{isTittleSuffix?title+' ／ @qianjunakasumi':title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	:root {
	}
	html {
		font-family: system-ui, sans-serif;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>

<PrintQianju />
